html, body {
    margin: 0;
    height: 100%;
}

body {
    color: #DEC79B;
    background-color:#18181E; 
    font-family: 'Open Sans', sans-serif;
}

header {
    
    padding: 10px;
    border-style: solid;
    border-color: grey;
    border-width: 0px 0px 1px;
    font-family: 'Roboto Mono', monospace;

}

h1 {
    font-weight: 900;
}

a {
    font-weight: bold;
    font-size: 20px;
    color: #DEC79B; 
    margin: auto; 
}

.card {
    border-color: #DEC79B;
    background-color:#18181E;
    margin: 0 auto; 
    margin-bottom: 15px;
}

#main-body{
    height:800px;
}



img {
    margin: auto;
    margin-top: 10px;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: #18181E;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-color: grey;
    border-width: 1px 0px 0px;
    font-family: 'Roboto Mono', monospace;
}


